<!DOCTYPE html>
<html>
<head>
    <title>Combo date field test</title>
    <script type="application/javascript" src="packages/react/react.js" ></script>
    <script type="application/javascript" src="packages/react/react_dom.js" ></script>
    <script type="application/javascript" src="packages/react/react_with_addons.js" ></script>

    <link rel="x-dart-test" href="combo_date_field_test.dart">
    <script src="packages/test/dart.js"></script>
</head>
<body>
    <div class="container"></div>
</body>
</html>